/* ProductList.css */

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-product {
    color: white;
    font-size: 30px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-box {
    background-color: #811ea4;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: calc(50% - 20px); /* Adjust the width as needed */
    box-sizing: border-box;
    border: 2px solid white;
}

.product-name {
    font-size: 24px;
    margin: 0;
}

.product-description,
.product-quantity {
    margin: 0;
    font-size: 18px; /* Increase the font size */
    text-align: center; /* Center text */
}
.request-button {
    background-color: black;
    color: white;
    font-size: 1.2rem; /* You can adjust the font size as needed */
    text-align: left;
    padding: 10px 15px; /* Adjust padding as needed */
    border: 2px solid white; /* Add a white border */
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
}

.popup {
    background-color: #d267d2;
    padding: 30px; /* Increased padding for more space inside the popup */
    border: 2px solid white; /* Add a white border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Larger box shadow */
    text-align: center;
}

.popup button {
    margin: 10px; /* Add margin to create space between buttons */
}
